{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "printWidth": 100,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "useTabs": false
}
